body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    color: #666;
}
.k{
    font-size: larger;
}
.pimg1, .pimg2, .pimg3, .pimg4{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1{
    background-image: url('img.png');
    min-height: 100%;
    background-size: cover;
}
.pimg2{
    background-image: url('img1.png');
    min-height: 400px;
    background-size: cover;
   
}
.pimg3{
    background-image: url('img2.png');
    min-height: 400px;
    background-size: cover;
}
.pimg4{
    background-image: url('img.png');
    min-height: 400px;
    background-size: cover;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: whitesmoke;
    color: black;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    animation: bt;
    animation-duration: 4s;
    animation-fill-mode: forwards;
   
}
@keyframes bt{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 22px;
}
.ptext .border.trans{
    background-color: transparent;
    text-decoration: none;
    text-decoration-line: none;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3, .pimg4{
        background-attachment: scroll;
    }
}

